<div class = "container" style = "display:flex;flex-direction:column;justify-content: flex-center; align-items: center">
    <div class = "text-center border p-3 bg-secondary bg-opacity-10" style = "margin-top: 5%;flex-direction:column; display:flex;justify-content: flex-center; align-items: center">
        <div class = "text-center mb-3 h2" style = "display:flex;">Login to Our Shop</div>
        <%= form_with url: main_create_path, method: :post , data: {turbo: false} do |f| %>
            <div class = "mb-3">
                <div class = "">
                    <%=f.label :login, "username"%> 
                </div>
                <div class = "">
                    <%=f.text_field :login , class: "form-control"%>
                </div>
            </div>
            <div class = "mb-3">
                <div class = "">
                    <%=f.label :login, "password"%> 
                </div>
                <div class = "">
                   <%=f.password_field :password, class: "form-control"%>
                </div>
            </div>
        <%=f.submit :OK , class: "btn btn-success"%>
        <% end %>
    </div>
</div>